@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
main {
  overflow: none;
  background: #fbfbfb;
}

.texth2 {
  color: #003d36;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.28px;
  line-height: normal;
}

p {
  color: #b0b0b0;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.waitlist2 {
  font-family: Poppins;
  border-radius: 8px !important;

  display: flex;
  padding: 13px 27px;
  justify-content: center;
  align-items: center;

  color: #ffff;
  text-align: center;

  font-size: 16px;
  font-style: normal;

  line-height: 16px; /* 80% */
  border: none;
  background-color: #2b8f84;
}
.waitlist {
  font-family: Poppins;
  border-radius: 8px !important;

  display: flex;
  padding: 13px 27px;
  justify-content: center;
  align-items: center;

  color: #070707;
  text-align: center;
  margin-right: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 80% */
  border: none;
  background: #f5f5dc;
}
.imgpair {
  width: 80%;
  margin-left: 90px;
  height: 70vh;
}
.carousel_section {
  height: 100%;
  background-color: #006559;
}

.findpair {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
* {
  overflow-x: hidden;
}
.text2 {
  color: #003d36;
  text-align: right;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.textp {
  color: #aaa;
  text-align: right;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imgpair2 {
  width: 100%;

  height: 70vh;
}

.piarop {
  background-color: #070707;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1702591528/bgpair_fjdltb.png);
  height: 100vh;
  width: 100%;
}
.Community {
  background-color: #070707;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  overflow: hidden;
  background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1702594169/bliss_rm8fzn.png);
  height: 50vh;
  width: 100%;
}
.Community h2 {
  color: #fbfbfb;
  text-align: center;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  overflow: hidden;
  font-weight: 700;
  line-height: 113.25%; /* 54.36px */
}
.Community p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.306px; /* 151.915% */
  letter-spacing: 1.12px;
}

.Footer {
  background: #006559;
  height: 100%;
  padding-bottom: 10px;
}
.footer h2 {
  color: var(--grayscale-line, #d9dbe9);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}
.footer p {
  color: #f1f5f5;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
}
.footer h1 {
  color: var(--grayscale-line, #d9dbe9);
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  .texth2 {
    font-size: 32px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .waitlist2 {
    margin: auto;
  }
  .imgpair {
    margin: auto;
    width: 100%;
    /* margin-left: 90px; */
    height: 100%;
    padding-top: 20px;
  }
  .findpair {
    font-size: 15px;
  }
  .imgpair2 {
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .text2 {
    font-size: 32px;
    text-align: center;
  }
  .textp {
    text-align: center;
  }
  .Community {
    overflow: hidden;
  }
  .Community h2 {
    font-size: 18px;
  }

  .footer h2 {
    font-size: 10px;
  }
  .footer h1 {
    font-size: 10px;
  }
  .footer p {
    font-size: 7px;
  }
  .Community p {
    line-height: normal;
    letter-spacing: normal;
    font-size: 14px;
    /* line-height: 0px;
    letter-spacing: 0px; */
  }
  .logo {
    width: 100%;
  }
  .waitlist {
    font-size: 13px;
    padding: 9px 11px;
  }
  #HIDE {
    display: none;
  }
  .hotit {
    width: 30px;
  }
}
