.react-datepicker__navigation--next {
  right: 2px;
  background-color: #003d35;
}
.react-datepicker__navigation--previous {
  right: 2px;
  background-color: #55a69c;
  color: black;
}
.react-datepicker__navigation--previous:hover {
  background-color: #cce4e1;
}
.react-datepicker__navigation--next:hover {
  background-color: #00796b;
}
